<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Employees</title>
</head>



<body>
    <h3 class="display-4 text-center my-4">Customer Registration</h3>

<div class="container">
  <form th:object="${customer}" method="post" th:action="@{/customer/confirm}">
    <div class="form-row">
      <div class="col">
        <label>First Name</label>
        <input type="text" class="form-control" th:field="*{firstName}">
        <div th:if="${#fields.hasErrors('firstName')}">
          <ol>
            <li th:each="error : ${#fields.errors('firstName')}" th:text="${error}"></li>
          </ol>

        </div>
      </div>
      <div class="col">
        <label>Last Name</label>
        <input type="text" class="form-control" th:field="*{lastName}">

        </div>
    </div>
    <br>
    <div class="form-row">
      <div class="col">
        <label>Adress 1</label>
        <input type="text" class="form-control" th:field="*{address1}">
      </div>
      <div class="col">
        <label>Address 2</label>
        <input type="text" class="form-control" th:field="*{address2}">
      </div>
    </div>
    <br>
    <div class="form-row">
      <div class="col">
        <label for="state">State</label>
        <select class="form-control" id="State" th:field="*{state}">
          <option th:each="state : ${stateList}" th:value="${state}" th:text="${state}"></option>
        </select>
      </div>
      <div class="col">
        <label>Zip Code</label>
        <input type="text" class="form-control" th:field="*{zipCode}">
      </div>
    </div>
    <br>
    <div class="form-row">
      <div class="col">
        <label>City</label>
        <input type="text" class="form-control" th:field="*{city}">
      </div>
      <div class="col">
        <label>Email Address</label>
        <input type="text" class="form-control" th:field="*{email}">
      </div>
    </div>
    <br>
    <div class="form-row">
      <div class="col">
        <h5> Membership Type</h5>
        <div class="form-check">
        <input class="form-check-input" type="radio" value="STANDARD" th:field="*{membershipType}" name="member" id="standard">
          <label class="form-check-label" for="standard">
            Standard
          </label>
          <br>
          <input class="form-check-input" type="radio" value="PREMIUM" th:field="*{membershipType}" name="member" id="premium">
          <label class="form-check-label" for="Premium">
            Premium
          </label>
          <br>
          <input class="form-check-input" type="radio" value="ULTIMATE" th:field="*{membershipType}" name="member" id="Ultimate">
          <label class="form-check-label" for="Ultimate">
            Ultimate
          </label>
          </div>
      </div>
    </div>
    <br>
    <div class="=form-row">
      <div class="col">
        <h4>Terms and Conditions</h4>
        <p>You consent to receive communications from us electronically. We will communicate with you by e-mail or phone. You agrements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing. </p>
      </div>
    </div>
    <div class="form-row">
    <div class="col">
      <div class="form-check">
        <label class="form-check-label mr-2">
          <input type="checkbox"  class="form-check-input" th:field="*{agreeTerms}" > I Agree to <b>Terms & Conditions</b>
        </label>
      </div>
    </div>
    </div>
    <br>
    <button class="btn btn-secondary" type="submit">Submit</button>

  </form>
</div>


</body>
</html>