<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Employees</title>
</head>
<body>

Firstname:<h3 th:text="${emp.firstName}"></h3>
Lastname:<h3 th:text="${emp.lastName}"></h3>
Salary:<h3 th:text="${emp.salary}"></h3>

<!--Concatenation--> <!--//$ isareti ===>metin, cumle vs yapmak icin-->
<h4 th:text="${'Hello' + emp.firstName}"></h4>

<!--Links--> <!--@ isareti===> baska bir site veya sayfaya yonlendirmek icin-->
<a th:href="@{https://cydeo.com}">Home Page</a>

<br>  <!-- sonraki yazilani alt satira gecirir -->

<a th:href="@{/employees}">Employees List</a>

<br>

<a th:href="@{/employees(name=Mike)}">Add Query 1</a> <!--//(name=Mike): Bu, bir sorgu parametresini belirtir. URL'ye name=Mike olarak eklenir. Yani, oluşturulan bağlantı şuna benzer: /employees?name=Mike. -->
<!--/employee?name=Mike -->

<br>

<a th:href="@{/employees(name=${emp.firstName})}">Add Query 2</a>
<!--/employee?name=Mike -->

<!--Conditional Logic-->


<div th:text="${emp.salary > 100000 ? 'Cool' : 'OK'}"></div> <!--salary 90000 de kucukse Cool' buyukse OK-->

<div>
  <span th:if="${emp.firstName == 'Joe'}">Hi Joe!</span>
  <span th:unless="${emp.firstName == 'Joe'}"> Hi Employee!</span>
</div>

<a></a>

<h1></h1>





</body>
</html>